flows.json
[{"id":"d7e90de0.10f78","type":"tab","label":"Resale value preditcion ","disabled":false,"info":""},{"id":"e9be4b44.04ea98","type":"ui_group","z":"","name":"Resale value preditcion ","tab":"985891c7.4ddb4","order":1,"disp":true,"width":"8","collapse":false},{"id":"985891c7.4ddb4","type":"ui_tab","z":"","name":"Resale Value Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"816a4a89.47bc98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cdf8f5ee.e89548","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"caa9fa4.22aca08","type":"ui_form","z":"d7e90de0.10f78","name":"","label":"","group":"e9be4b44.04ea98","order":4,"width":0,"height":0,"options":[{"label":"DateCrawled","value":"dcc","type":"text","required":true,"rows":null},{"label":"Name","value":"nm","type":"text","required":true,"rows":null},{"label":"Seller","value":"se","type":"text","required":true,"rows":null},{"label":"OfferType","value":"ot","type":"text","required":true,"rows":null},{"label":"Abtest","value":"ab","type":"text","required":true,"rows":null},{"label":"VehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"YearOfRegistration","value":"yor","type":"number","required":true,"rows":null},{"label":"Gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"PowerPS","value":"pps","type":"number","required":true,"rows":null},{"label":"Model","value":"mo","type":"text","required":true,"rows":null},{"label":"Kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"MonthOfRegistration","value":"mor","type":"number","required":true,"rows":null},{"label":"FuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"Brand","value":"br","type":"text","required":true,"rows":null},{"label":"NotRepairedDamage","value":"nrd","type":"text","required":true,"rows":null},{"label":"DateCreated","value":"dc","type":"text","required":true,"rows":null},{"label":"NrOfPictures","value":"nop","type":"number","required":true,"rows":null},{"label":"PostalCode","value":"pc","type":"number","required":true,"rows":null},{"label":"LastSeen","value":"ls","type":"text","required":true,"rows":null}],"formValue":{"dcc":"","nm":"","se":"","ot":"","ab":"","vt":"","yor":"","gb":"","pps":"","mo":"","km":"","mor":"","ft":"","br":"","nrd":"","dc":"","nop":"","pc":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["5203133f.39fe7c"]]},{"id":"c1efeac1.436418","type":"inject","z":"d7e90de0.10f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["5203133f.39fe7c"]]},{"id":"5203133f.39fe7c","type":"function","z":"d7e90de0.10f78","name":"","func":"global.set(\"dcc\",msg.payload.dcc)\nglobal.set(\"nm\",msg.payload.nm)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"ab\",msg.payload.ab)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yor\",msg.payload.yor)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pps\",msg.payload.pps)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mor\",msg.payload.mor)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"nrd\",msg.payload.nrd)\nglobal.set(\"dc\",msg.payload.dc)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"V0rssd-qXs7KiARctxybiJ_hixXPlZCZypUY84FMrtKq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["6052ffe8.1c4cf"]]},{"id":"6052ffe8.1c4cf","type":"http request","z":"d7e90de0.10f78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":400,"wires":[["814f5f66.bc05b","ff759d15.76a83"]]},{"id":"814f5f66.bc05b","type":"function","z":"d7e90de0.10f78","name":"","func":"var dcc=global.get('dcc')\nvar nm = global.get('nm')\nvar se = global.get('se')\nvar ot = global.get('ot')\nvar ab = global.get('ab')\nvar vt = global.get('vt')\nvar yor = global.get('yor')\nvar gb = global.get('gb')\nvar pps = global.get('pps')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar mor = global.get('mor')\nvar ft = global.get('ft')\nvar br = global.get('br')\nvar nrd = global.get('nrd')\nvar dc = global.get('dc')\nvar nop = global.get('nop')\nvar pc = global.get('pc')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"53b45fb4-d437-4c6a-86d5-56f4221dc67d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"DateCrawled\", \"Name\", \"Seller\",\"OfferType\",\"Abtest\",\"VehicleType\",\"YearOfRegistration\",\"Gearbox\",\"PowerPS\",\"Model\",\"Kilometer\",\"MonthOfRegistration\",\"FuelType\",\"Brand\",\"NotRepairedDamage\",\"DateCreated\",\"NrOfPictures\",\"PostalCode\",\"LastSeen\"], \"values\": [[dcc,nm,se,ot,ab,vt,yor,gb,pps,mo,km,mor,ft,br,nrd,dc,nop,pc,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["45451549.6c45ac"]]},{"id":"45451549.6c45ac","type":"http request","z":"d7e90de0.10f78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/30e4d641-9353-48ae-9591-e4fb44d4b18e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":320,"wires":[["d582f960.786778","7446c0c5.a7458"]]},{"id":"20e12bca.b526b4","type":"debug","z":"d7e90de0.10f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"d582f960.786778","type":"function","z":"d7e90de0.10f78","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["b41d8a83.4827c8","20e12bca.b526b4"]]},{"id":"b41d8a83.4827c8","type":"ui_text","z":"d7e90de0.10f78","group":"e9be4b44.04ea98","order":5,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-left","x":750,"y":60,"wires":[]},{"id":"ff759d15.76a83","type":"debug","z":"d7e90de0.10f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":420,"wires":[]},{"id":"7446c0c5.a7458","type":"debug","z":"d7e90de0.10f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":320,"wires":[]}]